<div>
  <h1>Slick Using ngx-slick-carousel</h1>
  <app-slick-comp></app-slick-comp>
</div>
<div>
  <h1>Slick using old vsi method</h1>
  <app-slick-old-comp></app-slick-old-comp>
</div>
<div style="margin: 16px 0">
  <h1>Modal Button ng14</h1>
  <div style="display:flex; 
  align-items: center; 
  justify-content: center;
  gap: 16px;
  ">
    <app-modal-button
    modalId="new Id"
    modalTitle="First Modal Title"
    modalBody="First Modal Body"
    modalButtonText="Fist Modal Button"
    ></app-modal-button>
    <app-modal-button
    modalId="new Id 2"
    modalBody="Second Body"
    modalTitle="Second Title"
    modalButtonText="Second Modal Button"
    ></app-modal-button>
  </div>
</div>
<div style="margin: 16px 0;">
  <h1>Modal data-attribute ng14</h1>
  <app-modal-data-comp
  appModalButton
  data-value="hello"
  data-modal-target="#modal1"
  [modalTarget]="'modal1'"
  [modalTargetButton]="'modalButton1'"
  [buttonText]="'Button1'"
  ></app-modal-data-comp>
</div>
<div style="margin: 16px 0;">
  <h1>Modal data-attribute ng14 directive test</h1>
  <div appModalButton>Cick New</div>
</div>
<div>
  <h1>Slick Using ngx-slick-carousel</h1>
  <app-slick-comp></app-slick-comp>
</div>
<div>
  <h1>Slick using old vsi method</h1>
  <app-slick-old-comp></app-slick-old-comp>
</div>
<div>
  <h1>Slick Using ngx-slick-carousel</h1>
  <app-slick-comp></app-slick-comp>
</div>
<div>
  <h1>Slick using old vsi method</h1>
  <app-slick-old-comp></app-slick-old-comp>
</div>
<div>
  <h1>Slick Using ngx-slick-carousel</h1>
  <app-slick-comp></app-slick-comp>
</div>
<div>
  <h1>Slick using old vsi method</h1>
  <app-slick-old-comp></app-slick-old-comp>
</div>