body .slick-prev, 
body .slick-next {
  z-index: 100;
}

body .slick-prev{
  left: 5px;
}

body .slick-next{
  right: 5px;
}

.carousel{
  .slick-list{
    .slick-track{
      .slide{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
